#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4em auto;
  width: 100%;
  max-width: 800px;
  gap: 2em;
}

.die {
  display: grid;
  place-items: center;
  border: 4px solid;
  border-radius: 0.5em;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 2em;
}
